<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Retete Sanatoase</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Muffins</a></h2>
            <p>Ingrediente</p><br></br>
<p> 3 oua
1 ceasca (pahar) de 150 de ml. cu zahar
1 plic de zahar vanilat
75 de ml. de ulei (jumatate din aceeasi ceasca, uleiul sa NU fie de masline, eu am folosit de samburi de struguri, cel de floarea soarelui e de asemenea potrivit)
1, 1/2 ceasca de faina + 1 – 2 linguri de faina in plus (masurati cu aceeasi ceasca)
1 lingurita de praf de copt
Optional:

adausuri dupa gust: eu am folosit azi bucatele de ciocolata (cam 50 de grame) + 2 linguri de coaja de portocala confiata, se potrivesc bine murele, afinele etc.
zahar praf pentru finsat sau o glazura de ciocolata, serbet etc.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Cookies</a></h2>
            <p>Ingrediente:
              - 170 de grame de făină
- 45 de grame de cacao (opțional)
- o jumătate de linguriță de praf de copt
- 60 de grame de unt la tempertura camerei
- 140 de grame de zahăr brun
- 50 de grame de zahăr alb
- o jumătate de linguriță de sare
- o linguriță de esență de vanilie
- o ciocolată amăruie de menaj mare, tăiată în cuburi mici

Mod de preparare

Se amestecă într-un bol făina, praful de copt și cacaua.

Într-un bol mare, se bate untul cu ajutorul unui mixer, la viteză medie, până când devine cremos și fin. Peste crema de unt, se adaugă zahărul alb și zahărul brun, sarea și esența de vanilie. Se amestecă totul, timp de două minute.

Peste aceste ingrediente, se adaugă făina și se amestecă cu o lingură de lemn, până când se formează un aluat suficient de tare.

Se adaugă cuburile de ciocolată și se amestecă foarte puțin, până se încorporează în aluat.

Citește și: Un cântar conectat la internet care te învață să gătești

Se pregătește o tavă acoperită cu hârtie de copt și se preîncălzește cuporul, la 160 de grade Celsius.

Se formează bile de aluat și se pun pe tavă, la distanță una față de cealaltă, pentru că acestea vor crește.

Se pun la cuptor 12 minute, după care se lasă la răcit, pe un platou.



</p>
        </div>
    </body>
</html>
